@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

#encabezado {
  width: all;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
}
#encabezado .nombre {
  font-size: 10px;
  line-height: 10px;
  background: url(../img/yo2.jpg);
  background-size: 700px 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.16);
}

.bienvenida {
  position: absolute;
  left: 60%;
  top: 30%;
}
.bienvenida p {
  color: red !important;
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  animation: aparece 6s;
}
.bienvenida span {
  color: red !important;
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  animation: aparece2 7s ease-in-out;
}

.informacion {
  width: all;
  height: 700px;
  background: #262626;
  color: white;
  padding-top: 100px;
  font-family: "Cormorant", serif;
  text-align: center;
  
  .margen{
      width: all;
      height: auto;
      border-top:solid 1px #fff;
      border-bottom:solid 1px #fff;
      margin-bottom: 20px;
  }
}
.informacion img {
  width: 250px;
  height: 300px;
}
.informacion .intro {
  padding-top: 30px;
  line-height: 30px;
  font-size: 23px;
  text-align: justify !important;
}

.proyectos{
    width: all;
    height: 700px;
    background: whitesmoke;
    color: #262626;
    padding-top:20px;
    
    .margen{
        width: all;
      height: auto;
      border-top:solid 1px #262626;
      border-bottom:solid 1px #262626;
      margin-bottom: 20px;
      margin-top: 20px;
    }
}

.habilidades{
    width: all;
    height: 1200px;
    background: #262626;
    color: #fff;
    padding-top:20px ;
    .margen{
        width: all;
        height: auto;
        border-top:solid 1px #fff;
        border-bottom:solid 1px #fff;
        margin-bottom: 20px;
        
    }
    .info{
        width: 80%;
        height: auto;
        text-align: justify;
        margin: auto;
        font-size: 20px;
        padding: 20px;
    }
    .front{
       
        width: 100%;
        height: 100%;
        border: solid 1px #fff;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin-right: 15px;
        padding: 15px;
        transition:  900ms !important;
        
        i{
            text-align: center;
        }
        span{
            
            line-height: 25px;
            text-align: justify;
            font-size: 15px;
        }
        .minilista{
            width: 120px;
            height: auto;
            margin: auto;
            
            li{
                height: 40px;
                text-align: justify;
            }
            li i{
                margin-right: 15px;
               
                
            }
        }

    }
    .col-lg-4,.col-lg-6{
        margin-bottom: 20px;
    }
    .front:hover{
        background: #fff;
        color: #262626;
    }
    ul{
        list-style: none;
        padding-top: 10px;
    }

}

.contacto{
    width: all;
    height: 700px;
    background: #fff;
    color: #262626;
    padding-top:20px ;
    .margen{
        width: all;
      height: auto;
      border-top:solid 1px #262626;
      border-bottom:solid 1px #262626;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .container{
        border: solid 1px #262626;
        
    }
    .hoja{
        width: 100%;
        height: auto;
        background: #fff;
        color: #262626;
        text-align: center;
        padding: 20px;
        padding-bottom: 40px;
        
        input[type="text"],
        input[type="numebr"],
        input[type="email"],
        input[type="number"],
        textarea{
            width: 100%;
            line-height: 40px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: solid 1px #262626;
            padding-left:15px;
            font-size:18px;
            transition: 500ms ease;
            box-shadow: 0px 6px 5px rgb(61, 59, 59,.3);
        }
        textarea{
            max-height: 150px;
            min-height: 90px;
        }
        input[type="submit"]{
            width: 80%;
            height: 30px;
            background: #fff;
            border: solid 1px #262626;
            transition: all 500ms ease;
            box-shadow: 0px 6px 5px rgb(61, 59, 59,.3);
        }
        input[type="submit"]:hover{
            background: #262626;
            color: #fff;
        }
        input:hover,textarea:hover{
            background: #262626;
            color: #fff;
        }

    }
    .sociales{
        width: 80%;
        height: auto;
        max-height: 10px;
        padding-top: 60px;
        margin: auto;
        .soci_conta{
            margin-left: 150px;
            width: 60px;
            display: flex;
            max-height: 60px;
            overflow: hidden;
            border: solid 1px #262626;
            border-radius: 15px; 
            padding: 5px;
            margin-bottom: 20px;
            box-shadow: 0px 6px 10px rgb(61, 59, 59,.8);
          
            transition: all 500ms ease-in;
            i{
                margin-right: 35px;
            }
            .conta{
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }

        }
        .soci_conta:nth-child(even){
            i{
                padding-left: 4px;
            }
        }
        .soci_conta:hover{
            width: 100%;
            background: #262626;
            color: #fff;
            margin-left: 0;
        }
    }
    
}

/* Box */
.box {
  position: relative;
  width: 480px;
  height: 280px;
  margin: 60px 0;
  background: #000;
  transform-style: preserve-3d;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.5);
  color: #fff;
  border: solid 1px #262626;
  .Imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
    }
  }
  .text {
    position: absolute;
    top: 30%;
    left: 50px;
    right: 50px;
    background: #262626;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    border:solid 1px #fff;
  }
  button{
      background: #262626;
      padding: 6px;
      border: solid 1px white;
      transition: all 2s;
      a{
        color: white;
        text-decoration: none;
        transition: all 1s;
    }
  }

  button:hover{
      background: white;
  }
  a:hover{
      color:#262626
  }
}
.box:hover .text {
  transform: translateZ(20px) scaleY(1);
}

/* Keyframes */
@keyframes aparece {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes aparece2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Media querys */
@media (max-width: 500px) {
  .nombre {
    background-size: 500px 500px !important;
  }

  .bienvenida p {
    font-size: 45px;
  }

  .bienvenida span {
    font-size: 20px;
  }

  .informacion {
    height: auto;
    padding-top: 20px;
  }

  .informacion img {
    width: 150px;
    height: 200px;
  }

  .informacion .intro {
    font-size: 18px;
    padding: 30px;
  }
  .proyectos{
      height: auto;
  }
  .habilidades{
    height: auto;
  }
  .box{
    width: 330px;
    height: 230px;
  }
  .contacto .container{
      border: none;
  }
}